.addpagepage--welcome {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.addpagepage--welcome {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: orange;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.addpagepage--question {
    grid-column:  1 / 3;
    grid-row: 2 / 3;
    background: red;
}

.addpagepage--sidebarleft {
    grid-column:  1 / 2;
    grid-row: 1 / 6;
    background: red;
}

.addpagepage--spacetopright {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: black;
}
