.addpagepage--addpagebox {
    display: grid;
    height: 70vh;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.addpagebox--welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 10;
    grid-row: 1 / 2;
    background: rgb(158, 158, 238);
    border-top-right-radius: 30px;
}

.addpagebox--question--tag {
    display: flex;
    align-items: center;
    justify-content: center;
    /* grid-column: 2 / 4;
    grid-row: 2 / 5; */
    background: orange;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.addpagebox--question--input {
    grid-column: 4 / 10;
    grid-row: 2 / 3;
    background: orange;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.addpagebox--answer--tag {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background: rgb(245, 175, 163);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.addpagebox--answer--input {
    grid-column: 4 / 10;
    grid-row: 3 / 4;
    background: rgb(245, 175, 163);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.addpagebox--hashtag1--label {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    background: rgb(234, 77, 77);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.addpagebox--hashtag1--input {
    grid-column: 4 / 10;
    grid-row: 4 / 5;
    background: rgb(234, 77, 77);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.addpagebox--hashtag2--label {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    background: rgb(245, 175, 163);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.addpagebox--hashtag2--input {
    grid-column: 4 / 10;
    grid-row: 5 / 6;
    background: rgb(245, 175, 163);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.addpagebox--hashtag3--label {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 4;
    grid-row: 6 / 7;
    background: orange;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.addpagebox--hashtag3--input {
    grid-column: 4 / 10;
    grid-row: 6 / 7;
    background: orange;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.addpagebox--submitbutton {
    grid-column: 2 / 10;
    grid-row: 7 / 8;
    background: rgb(158, 158, 238);
    border: none;
    border-bottom-right-radius: 30px;
}

.addpagebox--sidebarleft1 {
    grid-column: 1 / 2;
    grid-row: 1 / 8;
    background: rgb(245, 175, 163);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}