.topbar {
    display: flex;
    width: 100vw;
    max-width: 1340px;
    background: gold;
    justify-content: space-between;
    align-content: center;
    padding: 2%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}