main {
    /* space between the top and bottom */
    margin-top: 155px;
    margin-bottom: 70px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

li {
    float: left;
}

html {
    background: black;
    /* font-family: "Federation_Wide"; */
}

/* @font-face {
    font-family: 'Federation_Wide';
    src:url(./fonts/Federation_Wide.ttf);
} */